<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  
  <!-- Log4Net internal debugging if log4net doesn't log or there is internal issue, uncomment this to see log4net logs. -->
  <!--<appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>-->

  <!-- If you need to filter some stuff, there are various of options that can be put within your appender -->
  <!--<filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="WARN" />
        <levelMax value="FATAL" />
      </filter>
      <filter type="log4net.Filter.StringMatchFilter">
        <stringToMatch value="Some Text" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="DEBUG" />
      </filter>
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="WARN" />
      </filter>
      <filter type="log4net.Filter.DenyAllFilter" />-->
  
  
  <!-- Log4Net Configuration -->
  <log4net>

    <!-- ColoredConsoleAppender to log directly to console with colors -->
    <appender name="ColoredConsoleAppender" type="log4net.Appender.ColoredConsoleAppender,log4net">
      <mapping>
        <level value="DEBUG" />
        <foreColor value="White" />
      </mapping>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red" />
      </mapping>
      <mapping>
        <level value="FATAL" />
        <foreColor value="White" />
        <backColor value="Red" />
      </mapping>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline[%level] [%M] [%C]%newline[%date] - %message%newline%exception" />
      </layout>
    </appender>
    
    <!-- FileAppender to log into file. RollingFileAppender is better for advanced configurations. -->
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="TeamManager.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
      <encoding value="utf-8" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline[%level] [%M] [%C]%newline[%date] - %message%newline%exception" />
      </layout>
    </appender>
    
    <!-- RollingFileAppender to a .log file for reading the logs directly. -->
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="TeamManager.log" />
      <lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="15MB" />
      <maxSizeRollBackups value="10" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline[%level] [%M] [%C]%newline[%date] - %message%newline%exception" />
      </layout>
    </appender>

    <!-- RollingFileAppender to a .xml file for reading the logs with different softwares. For example this project: -->
    <!-- https://github.com/zarunbal/LogExpert -->
    <appender name="RollingFileAppenderXml" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="TeamManager.xml" />
      <lockingModel type="log4net.Appender.FileAppender+InterProcessLock" />
      <encoding value="utf-8" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maximumFileSize value="15MB" />
      <maxSizeRollBackups value="10" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.XmlLayoutSchemaLog4j">
        <locationInfo value="true"/>
      </layout>
      <param name="Encoding" value="utf-8" />
    </appender>
    
    <!-- AdoNetAppender used for passing the logs into database by calling a stored procedure with defined parameters. -->
    <appender name="AdoNetAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType
        value="System.Data.SqlClient.SqlConnection, System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=.; initial catalog=ApplicationDB;integrated security=true;" />
      <commandText value="dbo.procLog_Insert" />
      <commandType value="StoredProcedure" />
      <parameter>
        <parameterName value="@log_date" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@log_thread" />
        <dbType value="AnsiString" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%thread" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_level" />
        <dbType value="AnsiString" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_source" />
        <dbType value="AnsiString" />
        <size value="300" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@log_message" />
        <dbType value="AnsiString" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="AnsiString" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    
    <!-- Log4net Root where we specifiy which appender we would like to use. -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFileAppender" />
      <appender-ref ref="RollingFileAppenderXml" />
      <!--<appender-ref ref="ColoredConsoleAppender" />-->
      <!--<appender-ref ref="AdoNetAppender" />-->
    </root>
    
  </log4net>
  
    
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
</configuration>
